<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.SearchTicketDao">
    <select id="seall" resultType="com.entity.FlightInfo">
        select * from flightinfo where leavecity=#{leavecity} and arrivecity=#{arrivecity} and departdate >=#{departdate}
    </select>
</mapper>